<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VideoAnalysis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KLineSearch</display-name>
    <servlet-name>KLineSearch</servlet-name>
    <servlet-class>com.ace.servlet.KLineSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KLineSearch</servlet-name>
    <url-pattern>/KLineSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KLineSearch2</display-name>
    <servlet-name>KLineSearch2</servlet-name>
    <servlet-class>com.ace.servlet.KLineSearch2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KLineSearch2</servlet-name>
    <url-pattern>/KLineSearch2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RealTime</display-name>
    <servlet-name>RealTime</servlet-name>
    <servlet-class>com.ace.servlet.RealTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealTime</servlet-name>
    <url-pattern>/RealTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigData</display-name>
    <servlet-name>ConfigData</servlet-name>
    <servlet-class>com.ace.servlet.ConfigData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigData</servlet-name>
    <url-pattern>/ConfigData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileK</display-name>
    <servlet-name>MobileK</servlet-name>
    <servlet-class>com.ace.servlet.MobileK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileK</servlet-name>
    <url-pattern>/MobileK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KLineSearchRefresh</display-name>
    <servlet-name>KLineSearchRefresh</servlet-name>
    <servlet-class>com.ace.servlet.KLineSearchRefresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KLineSearchRefresh</servlet-name>
    <url-pattern>/KLineSearchRefresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCam</display-name>
    <servlet-name>AddCam</servlet-name>
    <servlet-class>com.ace.servlet.AddCam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCam</servlet-name>
    <url-pattern>/AddCam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCam</display-name>
    <servlet-name>EditCam</servlet-name>
    <servlet-class>com.ace.servlet.EditCam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCam</servlet-name>
    <url-pattern>/EditCam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCam</display-name>
    <servlet-name>DeleteCam</servlet-name>
    <servlet-class>com.ace.servlet.DeleteCam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCam</servlet-name>
    <url-pattern>/DeleteCam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetScreenShot</display-name>
    <servlet-name>GetScreenShot</servlet-name>
    <servlet-class>com.ace.servlet.GetScreenShot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScreenShot</servlet-name>
    <url-pattern>/GetScreenShot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigData1</display-name>
    <servlet-name>ConfigData1</servlet-name>
    <servlet-class>com.ace.servlet.ConfigData1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigData1</servlet-name>
    <url-pattern>/ConfigData1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigData2</display-name>
    <servlet-name>ConfigData2</servlet-name>
    <servlet-class>com.ace.servlet.ConfigData2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigData2</servlet-name>
    <url-pattern>/ConfigData2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAlarm</display-name>
    <servlet-name>GetAlarm</servlet-name>
    <servlet-class>com.ace.servlet.GetAlarm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAlarm</servlet-name>
    <url-pattern>/GetAlarm</url-pattern>
  </servlet-mapping>
</web-app>